* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /*outline: 1px solid limegreen;*/
  font-family: "Playfair Display", serif;
}

/**custom theme**/
:root {
  /*color theme*/
  --primary-clr: #f5f5dc;
  --secondary-clr: #070936;
  --accent-clr: rgb(254, 12, 12);

  /*font size*/
  --h1-fs: 13.5vw;
  --h2-fs: 40px;
  --h3-fs: 30px;
  --h4-fs: 20px;
  --text-fs: 16px;
  --link-fs: 17px;
  --abstract-fs: 5rem;

  /*whitespace*/
  --ws-1: 0.5rem;
  --ws-2: 1rem;
  --ws-3: 1.5rem;
  --ws-4: 2rem;
  --ws-5: 2.5rem;
  --ws-6: 3rem;
  --ws-auto: 10%;

  @media (max-width: 1200px) {
    /**font size**/
    --h1-fs: 15.5vw;

    --ws-auto: 5%;
  }

  @media (max-width: 890px) {
    /**font size**/
    --h2-fs: 35px;
    --h3-fs: 25px;
    --h4-fs: 18px;
    --text-fs: 15.2px;
    --abstract-fs: 4rem;
  }
}

/**general styling**/
html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--primary-clr);
  overflow: none;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

ul,
li {
  list-style: none;
}

a,button {
  text-decoration: none;
  cursor: pointer;
  outline: 0;
}

button, button:focus {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.strike-through {
  text-decoration: line-through;
}

.section {
  width: 100%;
  height: fit-content;
  padding-left: var(--ws-auto);
  padding-right: var(--ws-auto);
}

.anim-tag::after {
  content: "";
  display: block;
  height: 2px;
  width: 50px;
  background-color: var(--accent-clr);
  margin: 0 auto;
}

/**navigation**/
nav {
  width: 100%;
  height: 80px;
  padding-left: var(--ws-auto);
  padding-right: var(--ws-auto);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 240;
  background-color: var(--primary-clr);
}

.nav-list {
  display: flex;
  gap: var(--ws-4);
  text-transform: uppercase;
  font-size: var(--text-fs);
}

.nav-link,
.nav-logo-link {
  color: var(--secondary-clr);
  mix-blend-mode: hard-light;
}

.nav-logo-link {
  font-size: var(--link-fs);
}

.nav-rsp {
  display: none;
}

.nav-logo {
  width: 40px;
  height: 40px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-ham {
  padding: var(--ws-1);
  width: 3rem;
  height: fit-content;
  display: none;
  flex-direction: column;
  gap: 0.3rem;
  z-index: 210;
}

.nav-text {
  position: fixed;
  z-index: 240;
  bottom: var(--ws-auto);
  right: var(--ws-auto);
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 1px solid var(--secondary-clr);
  color: var(--secondary-clr);
  text-transform: uppercase;
  place-content: center;
  display: none;
  justify-content: center;
  align-items: center;
  outline: 0;
  margin-bottom: var(--ws-2);
}

.nav-text.accent {
  display: flex;
}

.nav-text.active {
  display: flex;
  border: 1px solid #101577fd;
  color: #101577fd;
}

.nav-stroke {
  width: 100%;
  height: 3.2px;
  background-color:#101577fd;
  border-radius: 50px;
}

@media (max-width: 800px) {
  .nav-ham {
    display: flex;
  }

  .nav-list {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-color: #070936;
    z-index: 200;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(-100%);
    transition: 0.6s ease-in-out;
  }

  .nav-rsp {
    display: contents;
  }

  .nav-list.active {
    transform: translateX(0%);
  }

  .nav-link {
    color: var(--primary-clr);
    font-size: var(--ws-6);
  }
}

/**hero**/

.hero-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-wrapper {
  position: relative;
  text-align: center;
  width: 100%;
  height: 75vh;
}

.hero-bg-img {
  background-image: url(./images/pexels-chris-goodwin-32870.jpg);
  background-repeat: no-repeat;
  background-position: cover;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  width: 100%;
  height: 100%;
  color: var(--primary-clr);
  padding-bottom: var(--ws-auto);
  z-index: -30;
  position: absolute;
  filter: brightness(65%);
}

.hero-title-wrapper {
  color: var(--primary-clr);
  width: 100%;
  z-index: 99;
  padding-top: var(--ws-6);
}

.hero-title {
  font-size: var(--h1-fs);
  text-transform: uppercase;
}

.hero-subtitle,
.hero-text {
  font-size: var(--h2-fs);
}

.hero-subtitle {
  text-transform: uppercase;
}

.hero-italic {
  font-style: italic;
}

.hero-label {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: -10%;
  padding-left: var(--ws-auto);
  padding-right: var(--ws-auto);
  padding-top: var(--ws-6);
}

.hero-text {
  color: var(--secondary-clr);
  padding-top: 8rem;
}

.hero-patch {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  text-align: center;
  flex-direction: column;
  place-content: center;
  background-color: var(--accent-clr);
  overflow: hidden;
  /*position: absolute;
    right: 12vw;
    top: 85%;*/
}

.hero-patch::before {
  content: "";
  display: block;
  width: 200px;
  height: 200px;
  border: 1px solid var(--accent-clr);
  border-radius: 50%;
  position: absolute;
  z-index: -20;
  transition: all ease-in-out;
  animation: bubble 2s infinite;
}

.hero-patch-text,
.hero-patch-digit {
  color: var(--primary-clr);
  background-color: transparent;
  text-transform: uppercase;
}

.hero-patch-digit {
  font-size: var(--abstract-fs);
  line-height: 0.8;
}

@media (max-width: 778px) {
  .hero-label {
    flex-direction: column-reverse;
    align-items: center;
    margin-top: -20%;
  }

  @media (max-width: 475px) {
    .hero-wrapper {
      height: 50vh;
    }

    .hero-label {
      margin-top: -30%;
    }
  }

  .hero-text {
    text-align: center;
    padding-top: var(--ws-6);
  }

  /*.hero-patch::before {
    display: none;
  }*/
}

@keyframes bubble {
  0% {
    transform: scale(2);
  }

  50% {
    transform: scale(0.7);
  }

  100% {
    transform: scale(2);
  }
}

/**layout class**/

.flex-wrapper {
  width: 100%;
  padding-left: var(--ws-auto);
  padding-right: var(--ws-auto);
  padding-top: var(--ws-6);
}

.flex-box {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-bottom: calc(var(--ws-6) * 2);
}

.flex-box-1 {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.flex-header {
  font-size: var(--h3-fs);
}

.flex-panel {
  text-align: center;
  width: 33%;
}

.flex-border {
  border-left: 1px solid var(--secondary-clr);
  border-right: 1px solid var(--secondary-clr);
}

.flex-digit {
  font-size: var(--abstract-fs);
  color: var(--secondary-clr);
}

.flex-text {
  text-transform: uppercase;
  color: var(--secondary-clr);
  font-size: var(--text-fs);
}

@media (max-width: 690px) {
  .flex-box {
    flex-direction: column;
    align-items: center;
  }

  .flex-panel {
    width: 80%;
    padding-bottom: var(--ws-2);
  }

  .flex-border {
    border-top: 1px solid var(--secondary-clr);
    border-bottom: 1px solid var(--secondary-clr);
    border-right: 0px solid var(--secondary-clr);
    border-left: 0px solid var(--secondary-clr);
  }

  .services-icons {
    display: none;
  }

  .services {
    padding-top: var(--ws-6);
  }
}

/**services**/
.services-section {
  padding-top: var(--ws-auto);
  padding-bottom: var(--ws-auto);
  text-align: center;
  color: var(--secondary-clr);
}

.services-title,
.about-title {
  font-size: var(--h2-fs);
  font-weight: bold;
}

.services-text {
  font-size: var(--h3-fs);
  padding-top: var(--ws-6);
  line-height: 1.2;
}

.services-icons {
  padding-top: var(--ws-auto);
}

.service {
  padding-top: var(--ws-2);
}

.service-desc {
  padding-top: var(--ws-1);
  font-size: var(--text-fs);
}

/**about us**/
.about-section {
  background-color: var(--secondary-clr);
  color: var(--primary-clr);
  text-align: center;
  padding: var(--ws-auto);
  overflow: hidden;
}

.about-title {
  padding-top: var(--ws-2);
}

.about-content {
  padding-top: var(--ws-6);
}

.about-bg-img {
  width: 35%;
  margin: 0 auto;
}

.about-text {
  display: flex;
  flex-direction: column;
  gap: var(--ws-2);
  transform: translate(50%, -15%);
}

.about-name {
  font-size: var(--h3-fs);
  text-align: justify;
}

.about-desc {
  font-size: var(--text-fs);
  text-align: justify;
}

.testimonials {
  padding: var(--ws-6);
}

.testimonial-btn-rsp {
  display: none;
}

.testimonial-header {
  font-size: var(--h3-fs);
}

.testimonial-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: var(--ws-6);
}

.testifier {
  text-transform: uppercase;
  padding-top: var(--ws-2);
  font-size: var(--text-fs);
}

.testimony {
  font-size: var(--text-fs);
  line-height: 1.5;
}

@media (max-width: 825px) {
  .about-bg-img {
    width: 50%;
  }

  .about-text {
    transform: translate(0, 0);
    text-align: center;
    padding-top: var(--ws-6);
  }

  .about-name {
    font-size: var(--h3-fs);
    text-align: center;
  }

  .about-desc {
    font-size: var(--text-fs);
    text-align: center;
  }

  .testimonial-wrapper {
    flex-direction: column;
    justify-content: center;
  }

  .testimonial-btn {
    display: none;
  }

  .testimonial-btn-rsp {
    display: contents;
  }

  .testimonial-rsp {
    display: flex;
    gap: var(--ws-2);
    padding-top: var(--ws-4);
  }
}

/*testimonial carousel*/
.slide-container {
  overflow: hidden;
  display: flex;
  width: 350px;
  height: fit-content;
  scroll-behavior: smooth;
  transition: all ease-in-out;
}

.slide {
  flex: 1 0 100%;
  width: 100%;
  height: 100%;
}

@media (max-width: 690px) {
  .about-section {
    padding-top: var(--ws-6);
    padding-bottom: var(--ws-6);
  }

  .about-bg-img {
    width: 80%;
  }
}

/**footer**/
.footer-section {
  background-color: var(--secondary-clr);
  color: var(--primary-clr);
  width: 100%;
  height: fit-content;
}

.footer-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  height: fit-content;
}

.footer-flex-item {
  width: 50%;
  height: 100%;
  padding: var(--ws-6) var(--ws-auto);
  display: grid;
  place-content: center;
  text-align: center;
}

.footer-socials {
  background-color: #d9d9d91c;
}

.footer-contact {
  background-color: #d9d9d969;
}

.footer-title {
  font-size: var(--h3-fs);
}

@media (max-width: 825px) {
  .footer-flex-item {
    width: 100%;
  }
}

.footer-wrapper {
  padding-top: var(--ws-6);
  display: flex;
  flex-direction: column;
  gap: var(--ws-2);
}

.footer-link {
  font-size: var(--link-fs);
  color: var(--primary-clr);
  text-decoration: underline;
}

.footer-base {
  width: 100%;
  padding: var(--ws-6) var(--ws-auto);
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-end;
  height: 50%;
}

.footer-logo {
  text-transform: uppercase;
  font-size: var(--text-fs);
  color: var(--primary-clr);
}

.footer-list {
  display: flex;
  gap: var(--ws-4);
  text-transform: uppercase;
}

.footer-nav-link {
  color: var(--primary-clr);
}

@media (max-width: 827px) {
  .footer-nav {
    /*flex-direction: column;
    align-items: center;*/
    justify-content: center;
  }

  .footer-list {
    padding-top: var(--ws-2);
    padding-left: var(--ws-2);
  }
}

@media (max-width: 480px) {
  .footer-list {
    display: none;
  }
}
